# Python
__pycache__/
*.py[cod]
*.sqlite3

# Django
*.log
media/
staticfiles/
db.sqlite3

# Virtual environment
venv/
env/
.venv/

# Environment variables
.env

# OS / Editor
.DS_Store
.idea/
.vscode/


.aider*

GEMINI.md
